
<div style="margin-left: 50px; margin-right: 50px;">
	<div class="page-header">
		<h1>Measures Logs</h1>
	</div>

	<ol class="breadcrumb">
		<li><a ui-sref="home">Home</a></li>
		<li><a ui-sref="measure-log">Measure Logs</a></li>
	</ol>
	<div class="col-md-7">
		<div ng-repeat="mlog in vm.logs">
			<div ng-if="mlog.success">
				<div class="alert alert-success" role="alert"
					ng-repeat="input in mlog.mesurement"
					style="margin-bottom: 5px; padding: 5px;">
					<b>{{mlog.exectionDate | date:'HH:mm:ss'}} -
						{{mlog.measureInstanceName}} [{{mlog.measureName}}] : </b>
					{{input.label}} ({{mlog.executionTime}} ms)
				</div>
			</div>

			<div class="alert alert-danger" role="alert" ng-if="!mlog.success"
				style="margin-bottom: 5px; padding: 5px;">
				<b>{{mlog.exectionDate | date:'HH:mm:ss'}} -
					{{mlog.measureInstanceName}} [{{mlog.measureName}}] : </b>
				{{mlog.exceptionMessage}} )
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<iframe ng-show="vm.kibanaadress != null"
			src="http://{{vm.kibanaadress}}/app/kibana#/visualize/create?embed=true&type=area&indexPattern=measure&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-60d,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(colors:(Count:%237EB26D),legendOpen:!f)),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(customInterval:'2h',customLabel:'Measure+Collected+Daly',extended_bounds:(),field:postDate,interval:d,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!t,addTooltip:!t,defaultYExtents:!f,interpolate:linear,legendPosition:right,mode:stacked,scale:linear,setYExtents:!f,shareYAxis:!t,smoothLines:!t,times:!(),yAxis:()),title:'New+Visualization',type:area))"
			height="400" width="700" style="border: none;"></iframe>
	</div>